@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

html {
	font-family: "open Sans", sans-serif;
}
body {
	background-color: #444466;
	color: #dddddd;
}
/*layout*/
header {
	background-color: #333333;
	color: #ffffff;
}
article {
	background-color: #666666;
}
.txt {
	color: #ffffff;
}
/*text*/
h1 {
	font-family: "Montserrat", sans-serif;
}
