html {
	min-height: 100%;
	background-color: #999999;
	background-image: linear-gradient(-10deg, #000000, #DDDDDD);
	font-size: 16px;
	font-family: sans-serif;
	position: relative;
}
body {
	margin: 0;
}

/*bootstrap + angular js*/


/*layout*/
header {
	width: 100%;
	height: 64px;
	background-color: #333333;
	vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	margin-bottom: 16px;
}
section {
	width: 70%;
	margin: 0 15% 16px;
	display: flex;
}
.txt {
	width: 100%;
	margin: 0 8px;
	background-color: #666666;
	color: #ffffff;
	padding: 8px;
	border-radius: 6px;
}
.box {
	width: 100%;
	margin: 0 8px;
	background-color: #666666;
	padding: 0;
	border-radius: 6px;
	overflow: hidden;
}

/*sidebar*/
button {
	width: 64px;
	color: #ffffff;
	background-color: #222222;
	border: none;
}
#sidecont {
	position: absolute;
	top: 64px;
	bottom: 0px;
	width: 15%;
	overflow-x: hidden;
}
#sidebar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -100%;
	width: 100%;
	background-color: #666666;
	color: #ffffff;
	overflow: hidden;
	transition-duration: 0.5s;
}

/*text*/
p {
	margin: 0;
}
h1 {
	font-size: 32px;
	margin: 0;
	text-align: center;
	margin: 16px 0;
}

canvas {
	width: 100%;
	height: 100%;
}
